:root {
  --blue: #224C8D;
  --withe: #FFFF;
  --bg-secondary: #FFFFFF;
  --text-menu: #FFFFFF;
  --title-one: #FFFFFF;
  --title-two: #000000;
  --box-bottom: #969696;
}

body {
  font-family: 'Roboto', sans-serif;
}

.bg-blue-custom {
  background: var(--blue);
}

.bg-white-custom {
  background: var(--bg-secondary);
}

a.nav-link {
  color: var(--text-menu);
  padding: 10px;
}

p.title {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: var(--text-menu);
}

p.title-two {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}

p.paragraph {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.8);
}

p.paragraph-two {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.aboutme-img {
  height: 80%
}

footer .contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn-custom {
  background: var(--blue);
}

.btn-blue-custom {
  color: #fff;
  background-color: var(--blue);
  border-color: var(--blue);
  font-weight: normal;
  letter-spacing: 0.05em;
  border-radius: 0;
}

.btn-blue-custom:hover,
.btn-blue-custom:active,
.btn-blue-custom:focus,
.btn-blue-custom.active {
  /* let's darken #004E64 a bit for hover effect */
  background: var(--blue);
  color: #ffffff;
  border-color: var(--blue);
}

.btn-withe-custom {
  color: #000000;
  background-color: var(--withe);
  border-color: var(--withe);
  font-weight: normal;
  letter-spacing: 0.05em;
  border-radius: 0;
}

.btn-withe-custom:hover,
.btn-withe-custom:active,
.btn-withe-custom:focus,
.btn-withe-custom.active {
  /* let's darken #004E64 a bit for hover effect */
  background: var(--box-bottom);
  color: #ffffff;
  border-color: var(--box-bottom);
}

#btn-back-to-top {
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: none;
}